<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidproject_iwim">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListesMsgsProfMsgsActivity"></activity>
        <activity android:name=".PdfEmploi3a" />
        <activity android:name=".studentOrProf" />
        <activity android:name=".Emploi3a" />
        <activity android:name=".PdfEmploi2a" />
        <activity android:name=".Emploi2a" />
        <activity android:name=".veiw_pdf_files" />
        <activity android:name=".DocummentMatiere" />
        <activity android:name=".listeMatieres" />
        <activity android:name=".NewMsgProfActivity" />
        <activity android:name=".ListeMsgsActivity" />
        <activity android:name=".ListeEventsActivity" />
        <activity android:name=".NewEventActivity" />
        <activity android:name=".NewMessageActivity" />
        <activity
            android:name=".ChefFilActivity"
            android:exported="true" />
        <activity android:name=".EmploiDuTempsProfActivity" />
        <activity android:name=".MessagerieProfActivity" />
        <activity android:name=".ProfActivity" />
        <activity
            android:name=".cheffilupl"
            android:exported="true" />
        <activity android:name=".EspaceProfesseurActivity" />
        <activity android:name=".ExamsActivity" />
        <activity android:name=".deuxtroisA" />
        <activity android:name=".EmploiDuTempsActivity" />
        <activity android:name=".ScolariteActivity" />
        <activity android:name=".MessagerieActivity" />
        <activity android:name=".EvenementsActivity" />
        <activity android:name=".EspaceEtudiantActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>